@model LoginTestDemo.Models.ResetPasswordModel

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ResetPasswordModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.OTP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="display:inline-flex">
                <input type="text" class="form-control" name="OTPInput" />
                <h4>Time Left: </h4> <h4 id="timecountdown"></h4>

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script>
    var dt = '@ViewBag.Rem_Time';
    var dateAr = dt.split('-');
    var newDate = dateAr[1] + '/' + dateAr[0] + '/' + dateAr[2];

    var end = new Date(dateAr[1] + '/' + dateAr[0] + '/' + dateAr[2]);

    var _second = 1000;
    var _minute = _second * 60;
    var _hour = _minute * 60;
    var _day = _hour * 24;
    var timer;

    function showRemaining() {
        var now = new Date();
        var distance = end - now;
        if (distance < 0) {
            clearInterval(timer);
            document.getElementById('timecountdown').innerHTML = 'RESET CODE INVALID';
            window.location.href = '/Home/Login';
            return;
        }
        var days = Math.floor(distance / _day);
        var _hours = Math.floor((distance % _day) / _hour);
        var _minutes = Math.floor((distance % _hour) / _minute);
        var _seconds = Math.floor((distance % _minute) / _second);

        document.getElementById('timecountdown').innerHTML = '' //+ _hours;
        document.getElementById('timecountdown').innerHTML += _minutes + ' Minutes ';
        document.getElementById('timecountdown').innerHTML += _seconds  + ' Seconds ';
    }
    timer = setInterval(showRemaining, 1000);
</script>
